/*全体共通
最初から設定してあるので特に変更
しなくても大丈夫です♪
-----------------*/

@font-face {
  font-family: "MyKokoro";
  src: url("./../font/Kokoro.eot");
  /* IE9 Compat Modes */
  src: url("./../font/Kokoro.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./../font/Kokoro.otf") format("opentype");
  /* Safari, Android, iOS */
}

body {
  font-family: Garamond, "MyKokoro", serif;
  src: url("https://cdn.leafscape.be/kokoro/Kokoro_web.woff2") format("woff2");
  line-height: 1.75;
  font-size: 16px;
  user-select: none;
}

button,
select,
input,
select,
textarea {
  font-family: Garamond, "Kokoro", "こころ明朝体", serif;
  src: url("https://cdn.leafscape.be/kokoro/Kokoro_web.woff2") format("woff2");
}

/*パディングをサイズ内側にする処理*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*ーーーーーーーーーーー*/
/*この下から記述*/
/*ーーーーーーーーーーー*/

.header {
  background: url(../img/IMG_20210314_1133532-01-scaled-e1622228771384.jpeg);
  background-size: cover;
  background-position: center;
  height: 30vh;
  width: 100vw;
}

a {
  color: #d43041;
}

a:visited {
  color: #d43041;
}

#link {
  color: #d43041;
}

#link:visited {
  color: #d43041;
}

.firstArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.firstArea h2 {
  font-size: 3em;
}

.firstArea p,
.firstArea button {
  font-size: 1.5em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.firstArea form {
  font-size: 1.2em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.secondArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.second-p {
  text-align: center;
}

#output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.resultArea {
  margin: 24px 24px 0px 24px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #fff2de;
  border-radius: 3px;
}

.resultArea:hover {
  transform: scale(1.05);
  transition: 0.5s all;
  z-index: 1000;
  top: -10px;
  background-color: rgb(248, 253, 232);
}

.resultArea2 {
  margin: 24px 24px 0px 24px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #fff2de;
  border-radius: 3px;
  font-size: 2em;
}

.address {
  font-size: 1.2em;
}

button {
  background-color: #d43041;
  color: white;
  border-radius: 3px;
  font-size: 1.5em;
  width: auto;
  margin-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

/*どの部分のcssに対して
命令をしているのかコメントを
記載しよう！
---------------------*/

/*
---------------------*/

/*
---------------------*/

/*
---------------------*/

/*
---------------------*/
